* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



.hero-section {
  background-image: url(../images/gridlines.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* min-height: 50vh; */
  padding: 3.25rem 5.5rem 0;
  position: relative;

}

.mobile-nav {
  display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-content h1 {
  width: 55rem;
  font-size: 6rem;
  text-align: center;
  color: #a1a1a1;
  text-shadow: 8px 8px 20px rgba(0, 0, 0, 0.64);
}

.hero-content p {
  font-size: 1.5rem;
  text-align: center;
  color: #ffff;
  width: 55rem;
}

.hero-content button {
  border-radius: 1rem;
  background: #5663dc;
  font-size: 1rem;
  color: var(--M3-sys-light-on-primary, #fff);
  font-family: Ligconsolata;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  border: none;
  cursor: pointer;
}

.hero-content button:hover {
  background: #3f4d9e;
}

.hero-image {
  width: 30rem;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.nav {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6.25rem;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.1) inset,
    0px 1px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px 8px 6px 0px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(50px);
  padding: 2.5rem 0.625rem;
  gap: 3rem;
  position: absolute;
  top: 20rem;
  /* margin: 0 auto; */
}

.nav .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav .logo img {
  width: 3rem;
}

.nav .logo p {
  font-size: 1.5rem;
  color: #a1a1a1;
  text-align: center;
  font-weight: 600;
}

.nav .home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-color: #1d2439;
  padding: 1rem 0.625rem;
  cursor: pointer;
}

.nav .home-logo img {
  width: 2.5rem;
}

.nav .home-logo p {
  font-size: 1.5rem;
  color: #a1a1a1;
  text-align: center;
  font-weight: 600;
  line-height: 1.25rem;
  cursor: pointer;
}

.nav .home-logo:hover {
  background-color: #1a1f34;
}

.nav .about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  /* background-color: #1d2439; */
  padding: 1rem 0.625rem;
  cursor: pointer;
}

.nav .about-logo p {
  font-size: 1.2rem;
  color: #a1a1a1;
  text-align: center;
  font-weight: 600;
  line-height: 1.25rem;
  cursor: pointer;
}

.nav .about-logo:hover {
  background-color: #1a1f34;
}

.nav .about-logo img {
  width: 2.5rem;
  cursor: pointer;
}

.nav a {
  text-decoration: none;
}

/* First Section */

.first-section {
  margin-top: 7.5rem;
  overflow: hidden;
}

.first-section .text {
  display: flex;
  margin: 0 3rem 4rem 6.5rem;
  align-items: center;
  gap: 3rem;
}

.first-section .text .first {
  width: 45%;
}

.first-section .text .second {
  width: 55%;
}

.first-section .text .mobile-second {
  display: none;
}

.first-section .text .first h2 {
  font-size: 2.5rem;
  color: #e8e7e7;
}

.first-section .text .first p {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 1.5rem;
}

.first-section .text .second {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.first-section .text .second button {
  border-radius: 1.25rem;
  background: rgba(86, 99, 220, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7.5px);
  border: none;
  padding: 1rem 1.5rem;
  color: #fff;
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

.first-section .text .second div {
  display: flex;
  gap: 1.5rem;
}

.blue {
  background-color: #5663dc !important;
}

.first-section .image-container,
.second-section .image-container {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  overflow-x: hidden; 
  white-space: nowrap;
  margin-bottom: 10rem;
  transform: rotate(-3deg);
}

.first-section .image-container img,
.second-section .image-container img {
  width: 18rem;
  height: auto;
}

@media screen and (min-width: 1480px) {
  .first-section .image-container img,
  .second-section .image-container img {
    width: 25rem;
    height: auto;
  }
}

/* Second Section */

.second-section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 4rem;
  overflow: hidden;
}

.second-section .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.second-section .text h1 {
  text-align: center;
  font-size: 3.5rem;
  color: #e8e7e7;
}

.second-section .text div {
  display: flex;
  gap: 1.5rem;
}

.second-section .text div button {
  border-radius: 1.25rem;
  background: rgba(86, 99, 220, 0.1);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(7.5px);
  border: none;
  padding: 1rem 1.5rem;
  color: var(--M3-sys-light-on-primary, #fff);
  font-family: "Inconsolata", monospace;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.04rem;
}

/* Third section */

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 5rem;
}

.third-section h1 {
  width: 60rem;
  font-size: 2.5rem;
  color: #e8e7e7;
  text-align: center;
}

.third-section p {
  width: 50rem;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}

/* Fourth-section */

.fourth-section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
  margin: 0 5.5rem;
}

.fourth-section .card-container {
  display: flex;
  gap: 2.5rem;
  align-items: center;
  width: 60%;
}

.fourth-section .card-container .left {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
}

.fourth-section .card-container .right {
  width: 50%;
}

.fourth-section .card-container .card {
  display: inline-flex;
  flex-direction: column;
  width: 19.5625rem;
  height: 25.625rem;
  /* flex-shrink: 0; */
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  background: radial-gradient(
    151.49% 126.46% at 15.54% 20.99%,
    rgba(105, 59, 147, 0.2) 0%,
    rgba(110, 191, 244, 0.04) 77.08%,
    rgba(70, 144, 212, 0) 100%
  );
  backdrop-filter: blur(40px);
  padding: 1.8rem;
  gap: 1.5rem;
  /* border: #5663dc 2px solid;
  border-radius: 2rem 0 2rem 0; */
  background-image: url(../images/Card.svg);
  background-size: cover;
  z-index: 2;
}

.fourth-section .card-container .card img {
  width: 3.5rem;
  height: auto;
}

.fourth-section .card-container .card h3 {
  font-size: 1.5rem;
  color: #fff;
}

.fourth-section .card-container .card p {
  font-size: 1rem;
  color: #eee;
  margin-bottom: 5rem;
}

.mobile-image {
  display: none;
}

.fourth-section .image {
  width: 40%;
}

.fourth-section .image img {
  width: 100%;
  /* height: auto; */
}

/* Footer */

footer {
  display: flex;
  padding: 7.5rem 5.5rem 2.5rem;
  flex-direction: column;
  /* align-items: center; */
  gap: 6.25rem;
}

footer .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

footer .text h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #e8e7e7;
}

footer .text p {
  width: 50rem;
  font-size: 1.5rem;
  color: #c0c0c0;
  text-align: center;
}

footer .social-links {
  display: flex;
  gap: 6.25rem;
  align-items: center;
  justify-content: center;
}

footer .social-links div {
  display: flex;
  gap: 1rem;
  align-items: center;
}

footer .social-links div p {
  font-size: 1.25rem;
  color: #ffffff;
}

footer .social-links div img {
  width: 4.5rem;
}

hr {
  width: 100%;
  border: 0.5px solid #515151;
  margin-bottom: 1.88rem;
}

footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  align-items: center;
}

footer .footer-bottom div:first-child {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

footer .footer-bottom div:first-child h1 {
  font-size: 2rem;
  color: #c0c0c0;
}

footer .footer-bottom p {
  font-size: 1.25rem;
  color: #c0c0c0;
}

footer .footer-bottom a {
  font-size: 1.25rem;
  color: #5663dc;
}

footer .footer-bottom div:last-child {
  display: flex;
  gap: 1.5rem;
}

footer .footer-bottom div:last-child p {
  font-size: 1rem;
  color: #c0c0c0;
}

.mobile-footer-bottom-container {
  display: none;
}

/* Media Query*/

@media screen and (max-width: 900px) {
  .hero-section {
    padding: 1.5rem 1rem 0;
    padding-top: 7rem;
  }

  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
  }

  .mobile-nav div:first-child {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }

  .mobile-nav div:first-child img {
    width: 2.5rem;
  }

  .mobile-nav p {
    font-size: 1.5rem;
    color: #cdcdcd;
    font-weight: 700;
  }

  .mobile-nav div:last-child {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px -1px 1px 0px rgba(255, 255, 255, 0.1),
      0px 1px 1px 0px rgba(255, 255, 255, 0.25),
      0px 8px 6px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(50px);
    align-items: center;
    justify-items: center;
    padding: 0.2rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
  }

  .mobile-nav div:last-child img {
    width: 100%;
  }

  .nav {
    display: none;
  }

  /* .hero-content {
    margin-top: 4rem;
  } */

  .hero-content h1 {
    width: 100%;
    font-size: 2.5rem;
    text-align: left;
  }

  .hero-content p {
    font-size: 1.125rem;
    text-align: left;
    width: 100%;
    
  }

  .hero-content button {
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
  }

  .hero-image {
    width: 100%;
  }

  /* first section */

  .first-section {
    margin-top: 3rem;
  }

  .first-section .text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 0;
    margin-bottom: 2.2rem;
  }

  .first-section .text .first {
    width: 100%;
    padding: 0 1rem;
    text-align: left;
  }

  
  .first-section .text .first h2 {
    font-size: 2rem;
  }

  .first-section .text .first p {
    font-size: 1rem;
  }

  .first-section .text .second {
    display: none;
  }

  .first-section .text .mobile-second {
    display: flex;
    width: 100%;
    gap: 1rem;
    /* padding: 0 1rem; */
    overflow: hidden;
    overflow-x: hidden; 
    /* white-space: nowrap; */
  }

  .first-section .text .mobile-second button {
  
    border-radius: 1.25rem;
    background: rgba(86, 99, 220, 0.1);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.5px);
    border: none;
    padding: 1rem 1.5rem;
    color: #fff;
    font-family: "Inconsolata", monospace;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.04rem;
    width: 10rem;
    flex: 0 0 auto;
    
  }

  /* .first-section .text .second {
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .first-section .text .second button {
    padding: 1rem 1.5rem;
    width: 10rem;
  }

  .first-section .text .second div {
    gap: 1rem;
  } */

  .first-section .image-container,
  .second-section .image-container {
    gap: 0.5rem;
    margin-bottom: 5rem;
  }

  .first-section .image-container img,
  .second-section .image-container img {
    width: 7.5rem;
  }

  /* Second section */

  .second-section .text {
    padding: 0 1rem;
    align-items: flex-start;
  }

  .second-section .text h1 {
    font-size: 2rem;
    text-align: left; 
  }

  /* Third section */

  .third-section {
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  .third-section h1 {
    width: 100%;
    font-size: 2rem;
    text-align: left;
  }

  .third-section p {
    width: 100%;
    font-size: 1rem;
    text-align: left;
  }

  /* Fourth section */

  .fourth-section {
    flex-direction: column-reverse;
    gap: 2rem;
    margin: 0;
  }

  .fourth-section .card-container {
    flex-direction: column;
    gap: 1.5rem;
    width: 85%;
    margin: 0 1.87rem;
  }

  .fourth-section .card-container .left {
    width: 100%;
    gap: 1.5rem;
  }

  .fourth-section .card-container .right {
    width: 100%;
  }

  .fourth-section .card-container .card {
    padding: 2rem;
    width: 20.6875rem;
    /* height: 25rem; */
  }

  .fourth-section .card-container .card img {
    width: 3rem;
  }

  .fourth-section .card-container .card h3 {
    font-size: 1.125rem;
  }

  .fourth-section .card-container .card p {
    font-size: 1rem;
    margin-bottom: 7rem;
  }

  .fourth-section .image {
    display: none;
  }

  .mobile-image {
    display: block;
    width: 100%;
  }

  .mobile-image img {
    width: 100%;
  }

  /* Footer */

  footer {
    padding: 3rem 1rem 1.5rem;
    gap: 2rem;
  }

  footer .text {
    align-items: flex-start;
  }

  footer .text h1 {
    font-size: 2rem;
    text-align: left;
  }

  footer .text p {
    width: 100%;
    font-size: 1rem;
    text-align: left;
  }

  footer .social-links {
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
  }

  footer .social-links div img {
    width: 3rem;
  }

  footer .footer-bottom {
    display: none;
  }

  footer .mobile-footer-bottom-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  footer .mobile-footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  footer .mobile-footer-bottom div:first-child {
    display: flex;
    gap: 0.1rem;
    align-items: center;
  }

  footer .mobile-footer-bottom div:first-child img {
    width: 2.5rem;
  }

  footer .mobile-footer-bottom div:first-child h1 {
    font-size: 1rem;
    color: #c0c0c0;
  }



  .footer-bottom-link {
    display: flex;
    gap: 1rem !important;
  }

  .footer-bottom-link  p {
    font-size: 1rem;
    color: #c0c0c0;
  }

  footer .mobile-footer-bottom-container:last-child {
    text-align: center;
    font-size: 0.875rem;
    color: #c0c0c0;
  }

  footer .mobile-footer-bottom-container a {
    font-size: 0.875rem;
    color: #5663dc;
  }



  
}
